$item-size: 50px;

.disassemble-item {
  display: none;
}
.user-inventory {
  .disassemble-item {
    display: block;
  }
}

.crafting-material { 
  display: inline-block;
  margin-right: 5px;
  background: white;
  img {
    width: $item-size;
    padding: .5em;
  }
}
