$item-size: 80px;

.item {
  display: block;
  position: absolute;
  width: $item-size;
  height: $item-size;
  margin: 3px;
  z-index: 1;
  border: 1px solid;
  background-color: white;
  &:hover {
    z-index: 9999;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .item-quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 5px;
  }
  .item-more {
    z-index: 10;
    opacity: 1;
    background: white;
    padding: 1em;
    width: 300px;
    border: 1px solid gray;
    position: absolute;
    left: 100%;
    margin: 0% -50%;
    display: none;
  }
  &:hover > .item-content > .item-more {
    display: block;
  }
  &.muuri-item-dragging,
  &.muuri-item-releasing {
    z-index: 9999;
  }
  &.muuri-item-dragging {
    cursor: move; 
    z-index: 3;
  }
  &.muuri-item-releasing {
    z-index: 2;
  }
  &.muuri-item-hidden {
    z-index: 0;
  }

  &.muuri-item-placeholder {
    z-index: 2;
    margin: 0;
    opacity: 0.5;
  }
  &.quest {
    border-color: orange;
    color: orange;
  }
  &.weapon {
    border-color: gray;
    color: gray;
  }
  &.consumable {
    border-color: green;
    color: green;
  }
  &.crafting {
    border-color: red;
    color: red;
  }
}
