.monit{
    position: fixed;
    padding: 1em;
    margin: auto;
    display: block;
    width: 200px;
    border: 1px solid gray;
    &.vendor{
        left:0;
    }
    &.user{
        right: 0;
    }
}