.monit{
    background-color: #1a1a1a;
    color: white;
    position: fixed;
    padding: 1em;
    margin: auto;
    display: block;
    width: 200px;
    @include shadow(light, 5);
    &.vendor{
        left:0;
    }
    &.user{
        right: 0;
    }
}