%button {
  @include transition(all $default-duration $default-transition-timing);
}

.btn-ghost {
  @extend %button;
  border: 1px solid $black;
  background: $full-white;
  &:hover {
    background-color: $gray;
  }

  &:active,
  &:focus {
    background-color: darken($gray, 5%);
  }
}

.btn-cta {
  @extend %button;
  border: 1px solid $black;
  background-color: $black;
  color: $full-white;
  @include shadow(dark, 2);

  &:hover {
    background-color: darken($black, 5%);
    @include shadow(dark, 3);
  }
  &:active,
  &:focus {
    @include shadow(dark, 1);
  }
}

.btn-accent {
  @extend %button;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  color: $full-white;
  @include shadow(dark, 2);

  &:hover {
    border-color: darken($accent-color, 10%);
    background-color: darken($accent-color, 10%);
    @include shadow(dark, 3);
  }
  &:active,
  &:focus {
    @include shadow(dark, 1);
  }
}
