$item-size: 80px;

.item {
  display: block;
  position: absolute;
  width: $item-size;
  height: $item-size;
  margin: 3px;
  z-index: 1;
  border-bottom: 2px solid;
  border-radius: 3px;
  background-color: white;
  @include shadow(light, 2);
  &:hover {
    z-index: 9999;
    cursor: grab;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 5px;
    display: none;
  }
  .item-more {
    z-index: 10;
    opacity: 1;
    background: #1a1a1a;
    color: white;
    padding: 1em;
    width: 300px;
    display: none;
    cursor: default;
    @include shadow(light, 5);
  }
  &:hover > .item-more {
    display: block;
  }
  &.muuri-item-dragging,
  &.muuri-item-releasing {
    z-index: 9999;
  }
  &.muuri-item-dragging {
    cursor: grabbing;
    z-index: 3;
  }
  &.muuri-item-releasing {
    z-index: 2;
  }
  &.muuri-item-hidden {
    z-index: 0;
  }

  &.muuri-item-placeholder {
    z-index: 2;
    margin: 0;
    opacity: 0.5;
  }
  &.quest {
    border-color: orange;
    color: orange;
  }
  &.weapon {
    border-color: gray;
    color: gray;
  }
  &.consumable {
    border-color: green;
    color: green;
  }
  &.crafting {
    border-color: red;
    color: red;
  }
  &.disabled {
    cursor: not-allowed;
    .item-more:after {
      content: "You cannot sell this item";
      padding: 5px 0;
      border-top: 1px solid;
      width: 100%;
      color: red;
    }
  }
  &.stackable .item-quantity{
    display: block;
  }

  img {
    width: $item-size;
    padding: 1em;
  }
}
