.monit {
  position: absolute;
  top: 50%; 
  width: 200px;
  padding: 1em;
  margin: auto;
  background-color: $black;
  color: $white;
  @include z-index(monit);
  @include shadow(dark, 3);
  @include transition(all $default-duration $default-transition-timing);
  &.vendor {
    left: 0;
  }
  &.user {
    right: 0;
  }
}
