$item-size: 80px;

.item {
  display: block;
  position: absolute;
  width: $item-size;
  height: $item-size;
  margin: 3px;
  border-bottom: 2px solid;
  border-radius: 3px;
  background-color: $full-white;
  @include z-index(item);
  @include shadow(light, 2);
  &:hover {
    @include z-index(item-hover);
    cursor: grab;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 5px;
    display: none;
  }
  .item-more {
    background: $black;
    color: $full-white;
    padding: 1em;
    width: 300px;
    cursor: default;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -10px, 0);
    @include shadow(light, 5); 
    @include z-index(item-more);
    @include transition (all $default-duration $default-transition-timing);
  }
  &:hover > .item-more {
    display: block;
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.quest {
    border-color: orange;
    color: orange;
  }
  &.weapon {
    border-color: gray;
    color: gray;
  }
  &.consumable {
    border-color: green;
    color: green;
  }
  &.crafting {
    border-color: red;
    color: red;
  }
  &.disabled {
    cursor: not-allowed;
    .item-more:after {
      content: "You cannot sell quest items";
      padding: 5px 0;
      border-top: 1px solid;
      width: 100%;
      color: red;
    }
  }
  &.stackable .item-quantity {
    display: block;
  }

  img {
    width: $item-size;
    padding: 1em;
  }
}
